.App {
  text-align: center;
  display: flex;
  background-color: #8c93a8;
}
.App-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #8c93a8;
}

.App-header {
  background-color: #8c93a8;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-h1 {
  color:burlywood;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #8c93a8;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
